/* -----------------------------------------------------------
   File: finalExam.htm
   Author: Bubacarr Jallow
   Date: 12/17/2025
   Description: Page Final Exam CSS page.
   Reuired files: none
   ----------------------------------------------------------- */


* {
    box-sizing: border-box;
}

/* -----------------------------------------------------------
   Body Styles
   ----------------------------------------------------------- */
body {
   
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    
    color: black;
    font-size: 16pt;
    
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #333333; 
}

/* -----------------------------------------------------------
   Header, Navigation, Section, and Footer Definitions (General Layout)
   ----------------------------------------------------------- */


header {
    
    background-color: #3d3f47; 
    color: white; 
    overflow: auto; 
    padding-bottom: 15px; 
}


nav {
    
    float: left;
    width: 20%;
    min-height: 1252px;
    font-size: 14px;
    background-color: #4cf44c; 
    padding: 20px;
    color: white;
    text-align: center; 
}


section {
    
    float: right;
    width: 80%;
    min-height: 600px;
    font-size: 14px;
    background-color: #f0f0f0; 
    padding: 20px;
    color: black;
    
}


footer {
    clear: both; /* Clear floats from <nav> and <section> */
    background-color: #004d40; /* Match header/nav color */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
}

/* -----------------------------------------------------------
   Header Tag Styles (for h1 and h3 within the <header> element)
   ----------------------------------------------------------- */

/* h1 tag within the header */
header h1 {
    font-size: 36pt;
    
    margin: 35px 0px 0px 0px;
   
    padding: 15px 0px 0px 15px;
    
}

/* h3 tag within the header */
header h3 {
    font-size: 24pt; 
    margin: 0px;
    
    padding: 0px 0px 15px 15px;
    
}

/* -----------------------------------------------------------
   Main Content Heading Styles (for h1 and h3 within the <section> element)
   ----------------------------------------------------------- */

/* h1 styles */
h1 {
    font-family: Arial, sans-serif;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
   
    padding: 15px 0px 0px 15px;
    
    color: #004d40; 
    color: white;
   background-color: rgb(222, 128, 60);
  
/* h1 styles */


/* h3 styles */
h3 {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    text-align: left;
   
    color: #d9534f; 
}

/* -----------------------------------------------------------
   Paragraph and Anchor Tag Styles
   ----------------------------------------------------------- */

/* Paragraph styles */
p {
    
    margin: 15px;
    padding: 15px;
}


a:link, a:visited {
    
    text-decoration: none;
    color: #004d40; 
}

/* Anchor tag hover state */
a:hover {
    
    color: #d9534f; 
    text-decoration: underline; 
}

/* -----------------------------------------------------------
   Table Styles
   ----------------------------------------------------------- */

table {
    border: none; /* No border */
    border-collapse: collapse; 
    width: 90%;
    margin-left: 30px; 
}

/
th, td {
    
    padding: 2px 5px;
    border: 1px solid #ccc; 
}

/* -----------------------------------------------------------
   Image Style (for the picture in the <header>)
   ----------------------------------------------------------- */

header img {
   
    float: right;
    
    max-width: 300px;
    max-height: 300px;
    
    margin: 10px 15px 10px 15px;
    
}
